*{
    background-color: black;
    color: rgb(198, 204, 209);
}



.cards{
justify-content: space-between;
padding: 20px 90px;
}
.new{

    background-color: rgb(8, 234, 234);
    width: 500px;
    height: 700px;
}
.cards img{
    margin: 10px 100px;
    height: 300px;
    width: 300px;
}
  
.card .new{
    margin: 20px;
}
.cards h3{
    background-color: aqua;
    color: black;
    font-size: 50px;
margin:0px 20px ;
font-style:italic;
}
.cards p{
    background-color: aqua;
    color: black; 
    margin: 0px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
