.b1{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 50px 0px 0px 10px;
   
}
.b2{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: -30px 120px 0px 20px;
}  
.b3{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: -20px 170px 0px 30px;
}  
.b4{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: 10px 230px 0px 40px;
}  
.b5{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: 30px 280px 0px 40px;
} 
.b6{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: 50px 330px 0px 30px;
} 
.b7{
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: 650px 380px 0px 20px;
}   
.b8{ 
    border-style: solid;
    border-color: black;
    padding: 50px;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin: 80px 420px 0px 10px;
}   